<a href="https://www.linkedin.com/uas/oauth2/authorization?response_type=code
&client_id=75a0miyfrg2jok
&scope=r_basicprofile
&state=HGFASGFSADKW4534535
&redirect_uri=http://localhost:3000/users">
<button>Sign In with LinkedIn</button>
</a>